<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Node js</title>
  </head>
  <body>
    <a href="/">Главная</a>
    <h1>Страница про нас</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum esse
      necessitatibus soluta earum sint neque ex vel explicabo accusantium
      dolores. Laudantium dignissimos nam dicta minima, delectus unde veritatis
      tempora commodi.
    </p>
  </body>
</html>
